/* css reset by Josh W */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

li {
  list-style: none;
}

/* Background */
body {
  background-image: url("/nnnoise.svg");
}

/* ABOUT */
.about-section {
  color: #fffffe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-section h1 {
  font-size: 7rem;
  margin-bottom: 2rem;
}

.about-text p {
  max-width: 75ch;
  margin-bottom: 1em;
}

.about-text {
  text-align: center;
}

.about-text span {
  color: #fde24f;
}

/* misc */
.center {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* WORKS */

.works-section {
  font-size: 5rem;
  background-image: url("/nnnoiseWhite.svg");
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.works-section .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works-section .top h1 {
  margin-bottom: 6rem;
  color: #00214d;
}
/* work */
.work-section {
  color: white;
  width: 100vw;
  height: 100vh;
}

.work-page {
  display: flex;
  flex-direction: column;
}
